<h2>Project</h2>
<p>
<ul>
  <li> <%= @project.id %> </li>
  <li> <%= @project.name %> </li>
  <li> <%= @project.picture %> </li>
  <li> <%= @project.created_at %> </li>
  <li> <%= @project.updated_at %> </li>
</ul>
</p>

<% items = @project.team_users %>
<% if items.present? %>
  <h3>Members</h3>
  <p>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Picture</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th></th>
      <th>TeamId</th>
      <th>TeamName</th>
    </tr>

    <% items.each do |team, users| %>
      <% users.each do |user| %>
        <tr>
          <td> <%= user.id %>  </td>
          <td> <%= user.name %> </td>
          <td> <%= user.picture %> </td>
          <td> <%= user.created_at %> </td>
          <td> <%= user.updated_at %> </td>
          <td> <%= link_to 'Show', user %></td>
          <% if team.present? %>
            <td> <%= team.id %>  </td>
            <td> <%= team.name %>  </td>
          <% else %>
            <td>-</td>
            <td>-</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  </p>
<% end %>



<br />



