<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>picture</th>
    <th>created_at</th>
    <th>updated_at</th>
    <th></th>
  </tr>

<% @teams.each do |item| %>
  <tr>
    <td> <%= item.id %>  </td>
    <td> <%= item.name %></td>
    <td> <%= item.picture %></td>
    <td> <%= item.created_at %></td>
    <td> <%= item.updated_at %></td>
    <td> <%= link_to 'Show', item %></td>
  </tr>
<% end %>
</table>

<br />

