<h2>Team</h2>
<p>
<ul>
  <li> <%= @team.id %> </li>
  <li> <%= @team.name %> </li>
  <li> <%= @team.picture %> </li>
  <li> <%= @team.created_at %> </li>
  <li> <%= @team.updated_at %> </li>
</ul>
</p>

<% items = @team.users %>
<% if items.present? %>
  <h3>Members</h3>
  <p>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Picture</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th></th>
    </tr>

    <% items.each do |item| %>
      <tr>
        <td> <%= item.id %>  </td>
        <td> <%= item.name %> </td>
        <td> <%= item.picture %> </td>
        <td> <%= item.created_at %> </td>
        <td> <%= item.updated_at %> </td>
        <td> <%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </table>
  </p>
<% end %>

<% items = @team.projects %>
<% if items.present? %>
  <h3>Projects</h3>
  <p>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Picture</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th></th>
    </tr>

    <% items.each do |item| %>
      <tr>
        <td> <%= item.id %>  </td>
        <td> <%= item.name %> </td>
        <td> <%= item.picture %> </td>
        <td> <%= item.created_at %> </td>
        <td> <%= item.updated_at %> </td>
        <td> <%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </table>
  </p>
<% end %>


<br />



