<h2>User</h2>
<p>
<ul>
  <li> <%= @user.id %> </li>
  <li> <%= @user.name %> </li>
  <li> <%= @user.picture %> </li>
  <li> <%= @user.created_at %> </li>
  <li> <%= @user.updated_at %> </li>
</ul>
</p>

<% items = @user.teams %>
<% if items.present? %>
  <h3>Teams</h3>
  <p>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Picture</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th></th>
    </tr>

    <% items.each do |item| %>
      <tr>
        <td> <%= item.id %>  </td>
        <td> <%= item.name %> </td>
        <td> <%= item.picture %> </td>
        <td> <%= item.created_at %> </td>
        <td> <%= item.updated_at %> </td>
        <td> <%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </table>
  </p>
<% end %>

<% items = @user.team_projects %>
<% if items.present? %>
  <h3>Projects</h3>
  <p>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Picture</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th></th>
      <th>TeamId</th>
      <th>TeamName</th>
    </tr>

    <% items.each do |team, projects| %>
      <% projects.each do |project| %>
        <tr>
          <td> <%= project.id %>  </td>
          <td> <%= project.name %> </td>
          <td> <%= project.picture %> </td>
          <td> <%= project.created_at %> </td>
          <td> <%= project.updated_at %> </td>
          <td> <%= link_to 'Show', project %></td>
          <% if team.present? %>
            <td> <%= team.id %>  </td>
            <td> <%= team.name %>  </td>
          <% else %>
            <td>-</td>
            <td>-</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  </p>
<% end %>


<br />



